*{
  margin:0;
  padding:0;
}
a{
  text-decoration:none; 
}
html{
	overflow:hidden;
}
.about-body{
	background:#191b22;
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	position:absolute;
	flex:1;
}

.about-cols{
	margin: -1px;
	display:flex;
	width: 100%;
	flex:1;
	
}
/*界面左侧*/
.main{
	width:72%;
    border: 1px;
	background:#006699;
    background-image:url(../pic/background.jpg);
	background-size:100% 100%;
    display:flex;
	flex-direction:column;
    margin: 1px;
}
#logo{
	display:block;
    margin:0 auto;
}
.main h1{
	padding-top:80px;
	margin:0 auto;
}

.about-col-body{
	display:flex;
	flex-direction:column;
}

.about-col-body-spacer{
  height: 106px;
}
.top{
	height:45px;
}
.bottom{
  height: 106px;
}
.simple_form{
	margin:10px auto;
	font-size:100%;
}

.form_footer{
  margin-top: 10px;
    text-align: center;
}
.form_footer ul{
  display: block;
}
.form_footer li{
  display: inline-block;
  margin: 0 5px;
  font: 16px/28px Montserrat,sans-serif;
  font-weight: 400;
}
.form_footer a{
  color: #9baec8;
  text-decoration:none; 
}
.hide_on_short_display{
  margin: 0;
  margin-bottom: 10px;
  padding: 0 270px;
  color: #fff;
  font: 16px/28px Montserrat,sans-serif;
  font-weight: 400;
}



.login_button{
  display: block;
  margin: 20px auto 0;
  width: 250px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  background: #2b90d9;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  font-size: 22px;
}
.login_button:hover{
  background: #419bdd;
}




/*界面右侧*/
.timeline{
	width:28%;
	display:flex;
	background:#373b45;
	flex-direction:column;
}
.column-header{
  font-size: 16px;
  background: #313543;
}
#header_button{
    font-size: 18px;
    margin: 0;
    border: none;
    padding: 10px 0 10px 10px;
    color: #FFF;
    background: transparent;
    text-align: left;
    vertical-align:middle ;
    outline: 0; 
}
.pawoo-extension-standalone-community{
  float: left;
  padding: 5px;
  text-align:center;
  line-height:36px;
}
#small_logo{
  display: inline-block;
  width: 36px;
  height: 36px;
}
.scrollable{
  /*overflow-y: auto;*/
  overflow-x: hidden;
  overflow-y: auto;
  height: 88%;
  width:100%;
}
::-webkit-scrollbar{
  background: #242831;
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb{
  background: #313543;
  border: 0 none #fff;
  border-radius: 0;
}
::-webkit-scrollbar-track{
  border: 0 none #fff;
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}
.article_cell{
  display: flex;
  width:100%;
  padding: 10px;
  margin: 1px;
  border:1px;
  background: #282c37;
}
.avatar{
  width: 48px;
  height: 48px;
  margin: 0px 5px;
  border: 2px;
}
.account__avatar{
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  border-radius: 5px;
    /*background-image: url("../pic/touxiang.jpg");*/
}
.details{
  display: flex;
  flex-direction: column;
  padding: 10px
}

.status{
	width:100%;
}
.status span{
  color: #606984;
  justify-content: space-between;
}
.status_span_time{
	float:right;
}

.status a:hover{
  text-decoration:underline; 
  color: #FFF;
}
.time{
  color: #606984;
}
.content{
	word-wrap:break-word;
  color: #FFF;
}


/*界面底部*/
.info{
  clear: both;
  display: flex;
  line-height: 36px;
  justify-content: space-between;
  margin: 1px;
}
.info li{
  display: inline-block;
  margin: 0 5px;
  color: #FFF;
}
.info a{
  color: #9baec8;
}
ion-icon {
  font-size: 32px;
}